name: Release Edge Extension

on:
  workflow_dispatch:
  push:
    paths:
      - "chrome-extension/manifest.json"

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Zip chrome-extension folder
        run: |
          zip -r extension.zip chrome-extension

      - name: Publish Edge Add-on
        uses: wdzeng/edge-addon@v2.1.0
        with:
          product-id: "2e21bb95-3850-495a-9fd1-c2c7811c1dae"
          zip-path: "./extension.zip"
          api-key: ${{ secrets.EDGE_API_KEY }}
          client-id: ${{ secrets.EDGE_CLIENT_ID }}
