name: Release Edge Extension

on:
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Zip chrome-extension folder
        run: |
          zip -r extension.zip chrome-extension

      - name: Release to Edge Add-ons Store
        uses: baptistecdr/release-edge-extension@v1.0.0
        with:
          api-key: ${{ secrets.EDGE_API_KEY }}
          client-id: ${{ secrets.EDGE_CLIENT_ID }}
          product-id: "2e21bb95-3850-495a-9fd1-c2c7811c1dae"
          product-path: "./extension.zip"
